.yellow-fluid-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  }

.yellow-fluid-canvas__el {
  width: 100%;
  height: 100%;
  display: block;
}

.yellow-fluid-canvas__iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
